<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-card class="mx-auto mt-5" max-width="100rem">

        <v-btn rounded color="green accent-2" @click="formNuevo()">Crear</v-btn>

        <v-simple-table class="mt-5">
            <template v-slot:default>
                <thead>
                    <tr class="light-blue darken-2">
                        <th class="white--text">ID</th>
                        <th class="white--text">ESTATUS</th>
                        <th class="white--text">NOMBRE</th>
                        <th class="white--text">SEXO</th>
                        <th class="white--text">FECHA DE NACIMIENTO</th>
                        <th class="white--text">EDAD</th>
                        <th class="white--text">TELEFONO</th>
                        <th class="white--text">CORREO</th>
                        <th class="white--text">PUESTO</th>
                        <th class="white--text">DEPARTAMENTO</th>
                        <th class="white--text">TURNO</th>
                        <th class="white--text">RFC</th>
                        <th class="white--text">COLONIA</th>
                        <th class="white--text">CALLE</th>
                        <th class="white--text">CODIGO POSTAL</th>
                        <th class="white--text text-center">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="articulo in articulos" :key="articulo.id">
                    <td>{{ articulo.id }}</td>
                    <td>{{ articulo.estatus }}</td>
                    <td>{{ articulo.nombre }}</td>
                    <td>{{ articulo.sexo }}</td>
                    <td>{{ articulo.fechanacimiento }}</td>
                    <td>{{ articulo.edad }}</td>
                    <td>{{ articulo.telefono }}</td>
                    <td>{{ articulo.correo }}</td>
                    <td>{{ articulo.puesto }}</td>
                    <td>{{ articulo.departamento }}</td>
                    <td>{{ articulo.turno }}</td>
                    <td>{{ articulo.rfc }}</td>
                    <td>{{ articulo.colonia }}</td>
                    <td>{{ articulo.calle }}</td>
                    <td>{{ articulo.cp }}</td>
                    <td>
                        <v-btn class="teal accent-4" dark @click="formEditar(articulo.id, articulo.estatus, articulo.nombre, articulo.sexo, articulo.fechanacimiento, articulo.edad, articulo.telefono, articulo.correo, articulo.puesto, articulo.departamento, articulo.turno, articulo.rfc, articulo.colonia, articulo.calle, articulo.cp)">Editar</v-btn>
                        <v-btn class="error" dark @click="borrar(articulo.id)">Borrar</v-btn>
                        <v-btn class="error" dark @click="historial(articulo.id)">Historial</v-btn>
                    </td>
                    </tr>
                </tbody>
            </template>
        </v-simple-table>
        <br>
        <h2 class="text-center">Historial</h2>
        <v-simple-table class="mt-5">
            <template v-slot:default>
                <thead>
                    <tr class="light-blue darken-2">
                        <th class="white--text">ID</th>
                        <th class="white--text">PUESTO</th>
                        <th class="white--text">DEPARTAMENTO</th>
                        <th class="white--text">TURNO</th>
                        <th class="white--text">ID DEL USUARIO</th>

                    </tr>
                </thead>
                <tbody>
                    <tr v-for="articulo2 in articulos2" :key="articulo2.id">
                    <td>{{ articulo2.id }}</td>
                    <td>{{ articulo2.puesto }}</td>
                    <td>{{ articulo2.departamento }}</td>
                    <td>{{ articulo2.turno }}</td>
                    <td>{{ articulo2.idusuariofk }}</td>
                    </tr>
                </tbody>
            </template>
        </v-simple-table>
        </v-card>

      <v-dialog v-model="dialog" max-width="500">
        <v-card>
          <v-card-title class="blue-grey darken-1 white--text">Nuevo Usuario</v-card-title>
          <v-card-text>
            <v-form ref="form" v-model="valid"  lazy-validation>
              <v-container>
                <v-row>
                  <input v-model="articulo.id" hidden></input>
                  <v-col cols="12" md="10">
                    <v-text-field v-model="articulo.estatus" label="estatus" :rules="generalRules" :counter="20" solo required>{{articulo.estatus}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="10">
                    <v-text-field v-model="articulo.nombre" :rules="nameRules" maxlength="90" minlength="3" :counter="90" label="nombre" solo required>{{articulo.nombre}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="10">
                    <v-text-field v-model="articulo.sexo" maxlength="1" label="sexo" :rules="generalRules" solo required>{{articulo.sexo}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="10">
                    <v-text-field v-model="articulo.fechanacimiento" label="fechan de nacimiento" :rules="generalRules" type="date" solo required>{{articulo.fechanacimiento}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="10">
                    <v-text-field v-model="articulo.edad" id="edades" label="edad" :rules="generalRules" type="text" solo required>{{articulo.edad}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="10">
                    <v-text-field v-model="articulo.telefono" label="telefono" :rules="telefonoRules" maxlength="10" :counter="10" solo required>{{articulo.telefono}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="10">
                    <v-text-field v-model="articulo.correo" label="correo" :rules="generalRules" :counter="50" solo required>{{articulo.correo}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="10">
                    <v-text-field v-model="articulo.puesto" label="puesto" :rules="generalRules" :counter="90" solo required>{{articulo.puesto}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="10">
                    <v-text-field v-model="articulo.departamento" label="departamento" :rules="generalRules" :counter="90" solo required>{{articulo.departamento}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="10">
                    <v-text-field v-model="articulo.turno" label="turno" :rules="generalRules" :counter="90" solo required>{{articulo.turno}}</v-text-field>
                  </v-col>
                  <v-col cols="12" sm="10">
                    <v-text-field v-model="articulo.rfc" label="rfc" maxlength="13" minlength="13" :counter="13" solo required>{{articulo.rfc}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="10">
                    <v-text-field v-model="articulo.colonia"  label="colonia" :rules="generalRules" :counter="90" solo required>{{articulo.colonia}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="10">
                    <v-text-field v-model="articulo.calle" label="calle" :rules="generalRules" :counter="90" solo required>{{articulo.calle}}</v-text-field>
                  </v-col>
                  <v-col cols="12" md="10">
                    <v-text-field v-model="articulo.cp" label="cp" :rules="cpRules" :counter="5" maxlength="5" minlength="5" solo required>{{articulo.cp}}</v-text-field>
                  </v-col>
                </v-row>
              </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="dialog=false">Cancelar</v-btn>
            <v-btn @click="guardar()" type="submit" color="indigo" dark>Guardar</v-btn>
          </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>


      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>

  <script>
  var url = "http://localhost/pruebacrud/crud.php";
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
       data () {
        return {
          valid: true,
            articulos: [],
            articulos2: [],
            dialog: false,
            operacion: '',
            estatus: '',
            nombre: '',
            sexo: '',
            fechanacimiento: '',
            edad: '',
            telefono: '',
            correo: '',
            puesto: '',
            departamento: '',
            turno: '',
            rfc: '',
            colonia: '',
            calle: '',
            cp: '',
            articulo:{
                id: null,

            },
            articulo2:{
                id: null,

            },
            nameRules: [
              v => !!v || 'Nombre es requerido',
              v => v.length <= 90 || 'no pasar los caracteres',
              v => v.length > 2 || 'nombre no menor de 3 caracteres',
            ],
            telefonoRules: [
              v => !!v || 'Telefono es requerido',
              v => v.length <= 10 || 'telefono incorrecto',
              v => v.length > 9 || 'telefono incorrecto',
            ],
            cpRules: [
              v => !!v || 'Codigo Postal es requerido',
              v => v.length <= 5 || 'Codigo Postal incorrecto',
              v => v.length > 4 || 'Codigo Postal incorrecto',
            ],
            generalRules: [
            v => !!v || 'Campos son requeridos',
            ],
          }
       },
       created(){
            this.mostrar()

       },
       methods:{
            resetValidation:function() {
              this.$refs.form.resetValidation();
            },
            resetform:function() {
                this.articulo.estatus='';
                this.articulo.nombre='';
                this.articulo.sexo='';
                this.articulo.fechanacimiento='';
                this.articulo.edad='';
                this.articulo.telefono='';
                this.articulo.correo='';
                this.articulo.puesto='';
                this.articulo.departamento='';
                this.articulo.turno='';
                this.articulo.rfc ='';
                this.articulo.colonia ='';
                this.articulo.calle ='';
                this.articulo.cp ='';
            },
            mostrar:function(){
              axios.post(url,{opcion:1})
              .then(response =>{
                this.articulos = response.data;
              })
            },
            crear:function(){
              function calcularEdad(fecha) {
                  var hoy = new Date();
                  var cumpleanos = new Date(fecha);
                  var edad = hoy.getFullYear() - cumpleanos.getFullYear();
                  var m = hoy.getMonth() - cumpleanos.getMonth();

                  if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
                      edad--;
                  }

                  return edad;
              }
              edades = calcularEdad(this.articulo.fechanacimiento);
                axios.post(url, {opcion:2, estatus:this.articulo.estatus, nombre:this.articulo.nombre, sexo:this.articulo.sexo, fechanacimiento:this.articulo.fechanacimiento, edad:edades, telefono:this.articulo.telefono, correo:this.articulo.correo, puesto:this.articulo.puesto, departamento:this.articulo.departamento, turno:this.articulo.turno, RFC:this.articulo.rfc, colonia:this.articulo.colonia, calle:this.articulo.calle, cp:this.articulo.cp })
                .then(response =>{
                  this.mostrar();
                  this.resetform();
                  this.resetValidation();
                });


            },
            editar:function(id, estatus, nombre, sexo, fechanacimiento, edad, telefono, correo, puesto, departamento, turno, rfc, colonia, calle, cp){
              axios.post(url, {opcion:3, id:this.articulo.id, estatus:this.articulo.estatus, nombre:this.articulo.nombre, sexo:this.articulo.sexo, fechanacimiento:this.articulo.fechanacimiento, edad:this.articulo.edad, telefono:this.articulo.telefono, correo:this.articulo.correo, puesto:this.articulo.puesto, departamento:this.articulo.departamento, turno:this.articulo.turno, rfc:this.articulo.rfc, colonia:this.articulo.colonia, calle:this.articulo.calle, cp:this.articulo.cp})
                  .then(response =>{
                    this.mostrar();
              });
            },
            borrar:function(id){
             Swal.fire({
                title: "Confirma eliminar el registro?",
                confirmButtonText: `Confirmar`,
                showCancelButton: true,
              }).then((result) => {
                if (result.isConfirmed) {
                      axios.post(url, {opcion:4, id:id}).then(response =>{
                          this.mostrar();
                       });
                  Swal.fire('Eliminado', '', 'success')
                } else if (result.isDenied) {
                }
              });
            },
            historial:function(id){
              axios.post(url,{opcion:5, id:id})
              .then(response =>{
                this.articulos2 = response.data;
              })
            },
            //Botones y formularios
            guardar:function(){
              if(this.operacion=='crear'){
                const valid = this.$refs.form.validate();
                if (valid){
                  this.crear();
                }else{
                  alert("Error en algun campos")
                }
              }
              if(this.operacion=='editar'){
                const valid = this.$refs.form.validate();
                if (valid){
                  this.editar();
                }else{
                  alert("Error en algun campos")
                }
              }
              this.dialog=false;
            },
            formNuevo:function () {
              this.dialog=true;
              this.operacion='crear';
              this.resetform();
            },
            formEditar:function(id, estatus, nombre, sexo, fechanacimiento, edad, telefono, correo, puesto, departamento, turno, rfc, colonia, calle, cp){
              //capturamos los datos del registro seleccionado y los mostramos en el formulario
              this.articulo.id = id;
              this.articulo.estatus=estatus;
              this.articulo.nombre=nombre;
              this.articulo.sexo=sexo;
              this.articulo.fechanacimiento=fechanacimiento;
              this.articulo.edad=edad;
              this.articulo.telefono=telefono;
              this.articulo.correo=correo;
              this.articulo.puesto=puesto;
              this.articulo.departamento=departamento;
              this.articulo.turno=turno;
              this.articulo.rfc = rfc;
              this.articulo.colonia = colonia;
              this.articulo.calle = calle;
              this.articulo.cp =cp;
              this.dialog=true;
              this.operacion='editar';
            }
       }
    });
  </script>
</body>
</html> 